# Ignore raw assets and documentation provided for the project
/Images/
/1.1 Landing Page.png
/1.2 Landing Page.png
/gemini.md
/QSL - QuickHire, Task for A. Soft. Engineer.zip
/QSL - QuickHire, Task for A. Soft. Engineer/
/pass.txt
